<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8">
  <title>O que é o espiritismo?</title>
  <meta name="description" content="CASEM é um instituição sem fins lucrativos!" />
	<meta name="keywords" content="CASEM, Casa Assistencial Espírita Emmanuel, Centro Espírita, Centro, Espiritismo, Allan Kardec" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
  <nav class="navbar navbar-default menu-secondary">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed tog" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="#">Casem<span>.org.br/&nbsp;<span class="beta">beta</span></span></a></h1>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Voltar</a></li>
        </ul>
      </div>
    </div><!-- container -->
  </nav>

  <article id="espiritismo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
        <i class="fas fa-asterisk fa-3x"></i></span>
        <h2>O que é espiritismo?</h2>

        <p>É o conjunto de princípios e leis, revelados pelos Espíritos Superiores, contidos nas obras de Allan
            Kardec que constituem a Codificação Espírita: O Livro dos Espíritos, O Livro dos Médiuns, O Evangelho
            segundo o Espiritismo, O Céu e o Inferno e A Gênese.</p>

        <p>“O Espiritismo é uma ciência que trata da natureza, origem e destino dos Espíritos, bem como de suas
            relações com o mundo corporal.”   Allan Kardec (O que é o Espiritismo – Preâmbulo)</p>

        <p>O Espiritismo realiza o que Jesus disse do Consolador prometido: conhecimento das coisas, fazendo
            que o homem saiba donde vem, para onde vai e por que está na Terra; atrai para os verdadeiros
            princípios da lei de Deus e consola pela fé e pela esperança.”   Allan Kardec (O Evangelho segundo o
            Espiritismo – cap. VI – 4)</p>

        <h2>História do Espiritismo</h2>

        <p>No século 19, um fenômeno agitou a Europa: as mesas girantes. Nos salões elegantes, após os
            saraus, as mesas eram alvo de curiosidade e de extensas reportagens, pois moviam-se, erguiam-se no
            ar e respondiam a questões mediante batidas no chão (tiptologia). O fenômeno chamou a atenção de
            um pesquisador sério, discípulo do célebre Johann Pestalozzi: Hippolyte Leon Denizard Rivail.</p>

        <p>Rivail, pedagogo francês, fluente em diversos idiomas, autor de livros didáticos e adepto de
            rigoroso método de investigação científica não aceitou de imediato os fenômenos das mesas girantes,
            mas estudou-os atentamente, observou que uma força inteligente as movia e investigou a natureza
            dessa força, que se identificou como os “Espíritos dos homens” que haviam morrido. Rivail fez centenas
            de perguntas aos Espíritos, analisou as respostas, comparou-as e codificou-as, tudo submetendo ao
            crivo da razão, não aceitando e não divulgando nada que não passasse por esse crivo. Assim nasceu O
            Livro dos Espíritos. O professor Rivail imortalizou-se adotando o pseudônimo de Allan Kardec.</p>

        <p>A Doutrina codificada por ele tem caráter científico, religioso e filosófico. Essa proposta de
            aliança da Ciência com a Religião está expressa em uma das máximas de Kardec, no livro “A Gênese”:
            “O espiritismo, marchando com o progresso, jamais será ultrapassado porque, se novas descobertas
            demonstrassem estar em erro sobre um certo ponto, ele se modificaria sobre esse ponto; se uma nova
            verdade se revelar, ele a aceitará”.</p>
        
        <h2>Emmanuel</h2>

        <p>Visto aqui com sua fisionomia quando era contemporâneo do Cristo como Senador Público
            Lêntulos, cuja história se estampa no livro “Há Dois Mil Anos”, reencarnando
            posteriormente como o escravo Nestório do livro “50 anos Depois”.</p>

        <p>Sua última reencarnação de conhecimento público ocorreu em Sanfins-Portugal, em
            18.10.1517, tendo dedicado sua vida de Sacerdote ao recém-descoberto Brasil, como Padre
            Manoel da Nóbrega, desencarnando no dia que completava 53 anos de idade, no Colégio do
            Rio de Janeiro, antigo Morro do Castelo.</p>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </article>

  <footer class="footer_site">
    <div class="container">
      <p>© CASEM ~ 2018 ~ Todos os direitos reservados!</p>
    </div>
  </footer>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script href="js/fontawesome.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/jquery-1.12.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>